body {
    background-color: rgb(255, 255, 255);
}

.navbar-whole-class {
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
}

.indidiv {
    padding: 5% 5%;
}

.bookbtn {
    margin-top: 5%;
    text-align: center;
}

.cardhead {
    background-color: black;
    color: aliceblue;
}

.threateradddiv {
    padding: 2% 2%;
}

.boxpadding {
    margin-top: 5%;
    padding: 0 5%;
}

.heading {
    padding: 1% 2%;
}

.booking {
    padding: 2% 20%;
}

.cardTheatre {
    padding: 2% 2%;
}

.carWhole {
    margin-top: 2%;
}

.card {
    min-height: 100vh;
}

.successCon {
    margin: 5% 5%;
}

.successTick {
    color: rgb(0, 0, 0);
    padding: 2% 2%;
    border-radius: 2rem;
}